.NOTTY{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
        }

.set{ 
    position: relative;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

 /*.like{
    height: 5vh;
    background: #D9D9D9;
    border-radius: 10px;
    margin: 10px;
    line-height: 5vh;
    padding-left: 10px;}*/

input[id*="answer"]{
    display: none;
}

input[id*="answer"] + label{
    display: block;
    height: 5vh;
    background: #D9D9D9;
    border-radius: 10px;
    margin: 10px;
    line-height: 5vh;
    padding-left: 10px;
    cursor: pointer;
}

input[id*="answer"] + label + div{
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
    background: #D9D9D9;
    border-radius: 10px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

input[id*="answer"] + label + div p{
    display: inline-block;
    padding: 20px;
}

input[id*="answer"]:checked + label + div{
    max-height: 100px;
}

.box{
    position: relative;
    top: 160px;
}

.line{
    position: relative;
    top: 155px;
}