.NOTTY{


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
}

.set{ 
position: absolute;
width: 67px;
height: 38px;
left: 11px;
top: 136px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.like{
    position: absolute;
    width: 363px;
    height: 5vh;
    left: 6px;
    top: 193px;
    
    background: #D9D9D9;
    border-radius: 10px;
}
.like1{
    position: absolute;
width: 363px;
height: 5vh;
left: 6px;
top: 247px;

background: #D9D9D9;
border-radius: 10px;
}

.like2{position: absolute;
    width: 363px;
    height: 5vh;
    left: 6px;
    top: 301px;
    
    background: #D9D9D9;
    border-radius: 10px;}

.like3{
    position: absolute;
width: 363px;
height: 5vh;
left: 6px;
top: 355px;

background: #D9D9D9;
border-radius: 10px;
}

.like4{
    position: absolute;
width: 363px;
height: 5vh;
left: 6px;
top: 409px;

background: #D9D9D9;
border-radius: 10px;
}

.like5{
    position: absolute;
width: 363px;
height: 5vh;
left: 6px;
top: 463px;

background: #D9D9D9;
border-radius: 10px;
}